<div   style="color: red;width: 100%;height: 75px;padding-left: 0;" class=" card">

  <div class="card-body" style="padding-top: 3px;background-color: #202020;padding-left: 0">
    <div style="display: inline;">
      <a (click)="openWindowCustomClass(content)" style="display: inline;padding: 10px 2px;" class="btn btn-outline-success my-2 my-sm-0">Смотреть {{studio_name}}
        <div style="display: inline-block;padding-top: 0px">
          <star-rating [value]="5" [totalstars]="5" checkedcolor="orange" uncheckedcolor="white" size="24px" [readonly]="false" (rate)="onRate($event)"></star-rating>
        </div>
      </a>

    </div>
  </div>
</div>




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngFor="let list of siteList" class="modal-body">
    <a (click)="modal.close('Close click')" target="_blank" href="http://myseria.pro/119-game-of-thrones-6/1-season/1-episode.html" style="display: inline;padding: 10px 2px;" class="btn btn-outline-success my-2 my-sm-0">Смотреть {{studio_name}} на {{list.name}} </a>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>




