.row{
  margin-right: 0;
  margin-left: 0;
}

#myVideo {

  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
}

#transcript {
  padding: 10px;
  border: 1px solid;
  float: left;
  max-height: 225px;
  overflow: auto;
  width: 25%;
  margin: 0;
  font-size: 14px;
  list-style: none;
}
.cues:hover {
  text-decoration: underline;
}

#video_overlays {
  position: absolute;
  background-color: transparent;
  color: red;
  z-index: 1 !important;
  left: 20px;
  right: 20px;
  top: 50px;
  bottom: 20px;

}
#video_box{
  position: relative;
}

video:-webkit-full-screen {
  position: relative;
}

.container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}



#asd{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


button {
  background: rgba(0,0,0,.5);
  border: 0;
  color: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

.seek-bar {
  width: 360px;
}



.volume-bar {
  width: 60px;
}
#video-container {
  width: 640px;
  height: 365px;
  position: relative;
}

#video-controls {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;


}

#video-container:hover #video-controls {

}



button:hover {
  cursor: pointer;
}

#seek-bar {
  flex: 4;
  width: 60%;
}



#play-pause{

}

#mute{
  font-size: 10px;

}

#full-screen{
  font-size: 10px;
}



#seek-bar[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0;
  width: 0;
  border-radius: 100px;
  background: #000957;
  cursor: pointer;
  border: none;
  /*visibility: hidden;*/
}

#seek-bar {
  -webkit-appearance: none;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 50px;
  cursor: pointer;

}


#volume-bar{
  -webkit-appearance: none;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 50px;
  cursor: pointer;
  /*background: url(src/assets/images/222.png) left center   no-repeat;*/
  box-shadow: inset 0 0 0 16px black; /* <-- 10px spread radius */



}

#volume-bar[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 0;
  width: 0;
  border-radius: 100px;
  background: #000957;
  cursor: pointer;
  border: none;
}

#ttt{
  box-shadow: inset 0 0 0 8px black; /* <-- 10px spread radius */
}

