.card-list{
  text-align: left;
  height: 100%;
  width: 25%;
  position: relative;
}


.container{
  max-width: 830px;
  padding-left: 7px;
  padding-right: 7px;

}





#div_page{
  margin-top: 56px;
}
/*.flex-grow{*/
/*  height: 100% !important;*/
/*  width: 100% !important;*/
/*}*/

/*li{*/
/*  float: left;*/
/*}*/
