<!-- Page content-->
  <div  class="card">
      <!-- Post content-->
      <article>
        <!-- Post header-->
        <header class="mb-4 ">
          <!-- Post title-->
          <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
          <!-- Post meta content-->
          <div class="text-muted fst-italic mb-2">Posted on January 1, 2021 by Start Bootstrap</div>
          <!-- Post categories-->
          <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
          <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
        </header>
        <!-- Preview image figure-->
        <figure class="mb-4"><img class="img-fluid rounded flex-grow" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg"
                                  alt="..."/></figure>
        <!-- Post content-->
        <a href="">{{post.postId}}</a>
        <section class="mb-5">
          <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human mind.
            Because it transforms who we are, how we live, and it gives us an understanding of our place in the
            universe.</p>
        </section>
      </article>
  </div>

