<div class="row" style="width: 550px;height: 250px;">
    <div class="col-6">
      <img style="width: 100%;height: 250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyfUZpjdXaoIChuEm6iZ91Awh_c9vyU829Mg&usqp=CAU">
    </div>

    <div class="col-6">
      <h5>serial_name</h5>

      <ul style="padding-left: 0">
        <li style="display: table-row;">
          <div class="qweqweqwe1" >Рейтинг:</div>
          <div style="color: black" class="qweqweqwe2" >
            <i style="margin-right: 3px" class="fab fa-imdb"></i> 3.5
            <i class="fa fa-film"></i> 5.5
          </div>
        </li>
        <li style="display: table-row;">
          <div class="qweqweqwe1" >Жанр: </div>
          <div style="color: black" class="qweqweqwe2" >фантастика, боевик, драма, приключения</div>
        </li>
      </ul>
    </div>



</div>
