<div class="card">
  <div class="card-body" style="color: white;background-color: #202020">
    <h3>Emilia Clarke</h3>
    <h6>Emilia Isobel Euphemia Rose Clarke is an English actress. She studied at the Drama Centre London, appearing in a number of stage productions. Her television debut was a guest appearance in the BBC One medical soap opera Doctors in 2009.</h6>
    <h5>Born: October 23, 1986 (age 35 years), London, United Kingdom</h5>
    <h5>Alma mater: Drama Centre London</h5>
    <h5>Award: List of awards and nominations received by Emilia Clarke</h5>
    <h5>Parents: Jennifer Clarke, Peter Clarke</h5>
  </div>
</div>
