<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="navbar-brand" >
    <a href="/" style="height: inherit;width: inherit">
    <img  src="https://static4.depositphotos.com/1009966/322/i/600/depositphotos_3222439-stock-photo-9nineshine-green.jpg" style="height: inherit;
      width:45px;
      " alt="">
    </a>
    </div>
    <div>
      <a class="ml-2" routerLink="serials" style="color: white">Сериалы</a>
    </div>


    <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
      <div   class="input-group  " style="margin-right: 28%;margin-left: 30%">
        <input class="form-control hover-search" type="text" placeholder="Поиск" aria-label="Enter search term..." aria-describedby="button-search" style="background-color: black" />
        <button class="btn btn-primary" id="button-search" type="button">Поиск</button>
      </div>


<!--      login and signup-->
      <div *ngIf="!isLogin; else logoutButton" style="right: 20px;position: absolute">
      <div style="display: inline-block" class="mr-2">
        <a (click)="openModal(signupModal)" class="btn btn-outline-success my-2 my-sm-0">Sign up</a>
      </div>
      <div style="display: inline-block" class="mr-2">
        <a (click)="openModal(loginModal)" class="btn btn-outline-success my-2 my-sm-0">Log in</a>
      </div>
      </div>
    </div>
  </nav>
</header>

<ng-template #signupModal>
  <app-signup></app-signup>
</ng-template>

<ng-template #loginModal>
  <app-login></app-login>
</ng-template>

<ng-template #logoutButton>
  <div style="right: 20px;position: absolute">
    <a  (click)="logout()" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
  </div>
</ng-template>
