<ng-template #imageElse>
  <div>
    <div   class="card-body" style="width: 183px;height: 300px;border: 1px solid blue;margin: 2px">
      no_image
    </div>
  </div>
</ng-template>


<ng-template #content let-modal>
  <div class="row">
    <div class="col">
    <div *ngIf="isUrlPresent;else imageElse">
      <div  class="card-body">
        <img class="img-fluid rounded " src="{{actor_url}}" style="height: 80%"/>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
      <button class="btn btn-lg btn-outline-primary" style="width: 100%">удалить</button>
      <button class="btn btn-lg btn-outline-primary" style="width: 100%">заменить</button>
      <button class="btn btn-lg btn-outline-primary" style="width: 80%;position: absolute;bottom: 2px;left: 2px;right: 0">принять</button>
  </div>
</div>
</ng-template>


<div style="cursor: pointer"  (mouseleave)="onWrapMouseLeave()" (mouseover)="onWrapMouseOver() ">
  <div  class="card" style="width: 190px;height: 280px;">
    <!-- Preview image figure-->
    <!--  <button class="btn btn-lg btn-outline-primary"  *ngIf="isModerate"  (click)="onClick(content);$event.stopPropagation()" style="top: 50%;left: 20%;position: absolute;width: 60%;height: 50px;font-size: 15px;padding: 0">Редактировать</button>-->
        <button #actorInfoButton class="btn btn-lg btn-outline-primary"  *ngIf="isModerate"  (click)="onClick(content);$event.stopPropagation()" style="top: 50%;left: 20%;position: absolute;width: 60%;height: 50px;font-size: 15px;padding: 0;visibility: hidden;z-index: 10">Actor Info</button>
    <img #wrapImage class="img-fluid " style="height: 100%" src="{{actor_url}}"  alt="..."/>

  </div>
  <div class="mt-2" style="text-align: center">
    <div #actorName class="mb-3"  style="font-size: 20px;color: white;cursor: pointer;overflow-wrap: break-word;width:200px" >{{actor_name}}</div>
  </div>
</div>
