<!--Post-->
<div   class="card" style="margin-bottom: 10px">
  <!-- Post content-->
  <article>
    <!-- Post header-->
    <header class="mb-4 ">
      <!-- news title-->
      <h1 style="padding: 15px;font-size: 25px" >Disney+ выпустит сериал по мотивам фильма «Живая сталь» с Хью Джекманом</h1>
      <!-- Post meta content-->
      <div class="text-muted fst-italic mb-2">Posted on January 1, 2021 </div>

    </header>
    <!-- Preview image figure-->
    <img style="width: 668px;height: 400px" src="http://myseria.pro/uploads/posts/2022-01/1642500554_1_5549.jpg">
  </article>
</div>
