<button  id="buttonEnglish" (click)="loadTranscript('en');">
  Display English transcript
</button>

<button  id="buttonDeutsch" (click)="loadTranscript('de');">
  Display Deutsch transcript
</button>


<div id="video-container">
  <!-- Video -->
  <div id="video_overlays" style="width: 70%;height: 40px"></div>

  <video   id="myVideo" preload="metadata" controls crossOrigin="anonymous">
    <source src="https://mainline.i3s.unice.fr/mooc/elephants-dream-medium.mp4" type="video/mp4">
    <source src="https://mainline.i3s.unice.fr/mooc/elephants-dream-medium.webm" type="video/webm">
    <track id="myTrack" label="English subtitles" kind="subtitles" srclang="en" src="assets/images/eee.vtt">
    <!--            <track label="Deutsch subtitles" kind="subtitles" srclang="de" src="https://mainline.i3s.unice.fr/mooc/elephants-dream-subtitles-de.vtt">-->
    <!--            <track label="English chapters" kind="chapters" srclang="en" src="https://mainline.i3s.unice.fr/mooc/elephants-dream-chapters-en.vtt">-->
  </video>
  <!-- Video Controls -->

  <div id="video-controls">
    <button  class="btn btn-outline-success my-2 my-sm-0" id="play-pause">
      <i  class="fas fa-play"></i>
    </button>

    <input type="range"   id="seek-bar" value="0" min="0"  max="100">

    <button type="button" class="btn btn-outline-success  my-sm-0"   id="mute">
      <i class="fa fa-volume-up"></i>
    </button>

    <div id="ttt" style="background-color: white;">
      <input type="range" id="volume-bar" min="0" max="1" step="0.01" value="0.5">
    </div>

    <button  type="button"  class="btn btn-outline-success  my-sm-0"  id="full-screen">
      <i  class="fa fa-expand"></i>
    </button>
  </div>

</div>

<div  (click)="qwe('ss')" id="transcript">ssssssssssssss</div>
