<ng-template #playButton>
  <button style="display: table-cell"   (click)="play();isTrackPlay.emit(this.audio);trackIntervalId.emit(this.idInterval)">
    <i class="fas fa-play"></i>
  </button>
</ng-template>

<div style="display: table-row;">

    <div style="display: table-cell" *ngIf="isPlay && !audio.paused; else playButton" >
      <button  (click)="stopC()" >
        <i class="fas fa-stop"></i>
      </button>
    </div>

    <input style="display: table-cell" type="range"  min="0" step="1"   max="{{max}}" value="{{sliderVal}}"      [(ngModel)]="sliderVal" (change)="changeTime(sliderVal)">

    <button style="display: table-cell" class="sound-button">
      <i class="fa fa-volume-up"></i>
    </button>

</div>
