
<ng-template #playButton>
  <div style="padding-right: 20px;display: table-cell;height: 60px">
  <button class="btn btn-outline-success my-2 my-sm-0" style="border-radius: 40%;"   (click)="playQ();isTrackPlay.emit(this.audio);trackIntervalId.emit(this.idInterval)">
    <i class="fas fa-play"></i>
  </button>
</div>
</ng-template>


<div style="display: table-row;">
    <div   style="padding-right: 20px;display: table-cell;height: 60px;" *ngIf="isPlay && !audio.paused; else playButton" >
      <button class="btn btn-outline-success my-2 my-sm-0" style="border-radius: 40%"  (click)="stopC()" >
        <i class="fas fa-stop"></i>
      </button>
    </div>

    <div  style="display: inline-block;">
      <div>
        <h1 style="font-size: 15px;color: white">track_name......</h1>
        <input id="bar" #input   class="bar" style="width: 200px; top: 10px; position: relative;" type="range"  min="0"     max="100" value="{{sliderVal}}"      [(ngModel)]="sliderVal" (change)="changeTime(sliderVal)">
      </div>
    </div>








</div>
