.bar {
  -webkit-appearance: none;
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 30px;
  border: 3px solid #ccc;


}
.bar[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0px;
  width: 0px;
  border-radius: 100px;
  background: #000957;
  cursor: pointer;
  border: none;
  /*visibility: hidden;*/
}



canvas {
  width: 200px;
  height: 130px;
}


