<div #wrap  style="display: table-cell;"  (mouseover)="onCardWrapMouseOver()" (mouseleave)="onCardWrapMouseLeave()" >
  <div  class="card"   id="clickable" style="width: 200px;height: 270px;margin: 2px;">
    <!-- Preview image figure-->
      <img #wrapImage class="img-fluid mh-100 mw-100"  src="{{serialModel.imageUrl}}" alt="..."/>
  </div>
  <div class="mt-2" style="text-align: center">
    <div class="mb-3" #wrapName style="font-size: 20px;color: black;cursor: pointer;overflow-wrap: break-word;width:200px" >{{serialModel.originalName}}</div>
  </div>
</div>


