/* You can add global styles to this file, and also import other style files */
body   {
  overflow-x: hidden; /* Hide horizontal scrollbar */

}

html{
 background-color: black;
}


::-webkit-scrollbar {
  width: 8px;
  display: block;
  position: relative;



}

::-webkit-scrollbar-track {
  border-radius: 15px;
  width: 1px;
  border-color: gold;
  border-style: solid;
  border-width: 1px;

}

::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 15px;
  display: block;
  position: relative;
  border:  1px solid transparent;
  z-index: -1;
  background: 	linear-gradient(top, transparent 1px, black 1px, black 50%, transparent 50%),	linear-gradient(bottom, transparent 1px, black 1px, black 50%, transparent 50%),
  radial-gradient(circle, black 1px, transparent 1px) -2px 59%,
  radial-gradient(circle, black 1px, transparent 1px) -2px 41%;
  background-size: 100% 100%, 100% 100%, 15px 50%, 15px 50%;
  background-clip: padding-box;

}

::-webkit-scrollbar-corner {
  background: transparent;

}


::-webkit-scrollbar-track {
  box-shadow: 1px 1px 1px rgba(0,0,0,.2) inset;
}





.slick-slider {
  width: 100%;
  margin: auto;
  background: rgb(14, 13, 13);
}

body .slick-prev,
body .slick-next {
  height: 100px;
  width: 100px;
  z-index: 100;
  border-radius: 50%;
  background: transparent;
  border: 1px solid green;


}
body .prev,
body .next {
  height: 70px;
  width: 70px;
  z-index: 100;
  border-radius: 50%;
  background: transparent;
  border: 1px solid green;



}



.slick-track {
  margin-left: 0 !important;
  margin-right: 0 !important;

}
.slick-list{
  background-color: #202020;
  border-bottom: 1px solid white;
}
